@charset "UTF-8";
.kit {
  padding: 20px 0;
}
@media (min-width: 1200px) {
  .kit {
    padding: 40px 0;
  }
}
.kit__title {
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .kit__title {
    margin-bottom: 20px;
  }
}
.kit__subtitle {
  margin-bottom: 6px;
}
@media (min-width: 1200px) {
  .kit__subtitle {
    margin-bottom: 8px;
  }
}
.kit__subtitle ~ .kit__subtitle {
  margin-top: 30px;
}
@media (min-width: 1200px) {
  .kit__subtitle ~ .kit__subtitle {
    margin-top: 50px;
  }
}
.kit__text {
  margin-bottom: 12px;
}
@media (min-width: 1200px) {
  .kit__text {
    margin-bottom: 20px;
  }
}
.kit__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 1200px) {
  .kit__btns {
    gap: 10px;
  }
}
.kit__btns ~ .kit__btns {
  margin-top: 8px;
}
@media (min-width: 1200px) {
  .kit__btns ~ .kit__btns {
    margin-top: 10px;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

select {
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
  border: none;
}

textarea {
  font-family: inherit;
}

img,
svg {
  max-width: 100%;
}

ul {
  list-style: none;
}

iframe {
  width: 100%;
}

fieldset {
  border: none;
}

body {
  font-family: "Mulish";
  background-color: #fff;
  color: #1E212C;
  font-size: 16px;
  line-height: 1.6;
}

::-moz-selection {
  background-color: #1E212C;
  color: #fff;
}

::selection {
  background-color: #1E212C;
  color: #fff;
}

@font-face {
  font-family: "Garamond";
  src: url("/font/Garamond/EBGaramond-Regular.woff2") format("woff2"), url("/font/Garamond/EBGaramond-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Garamond";
  src: url("/font/Garamond/EBGaramond-Medium.woff2") format("woff2"), url("/font/Garamond/EBGaramond-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/font/Mulish/Mulish-Regular.woff2") format("woff2"), url("/font/Mulish/Mulish-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/font/Mulish/Mulish-Medium.woff2") format("woff2"), url("/font/Mulish/Mulish-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mulish";
  src: url("/font/Mulish/Mulish-Bold.woff2") format("woff2"), url("/font/Mulish/Mulish-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
.title-h1 {
  font-family: "Garamond";
  font-size: 120px;
  line-height: 130px;
  font-weight: 500;
}

.title-h2 {
  font-family: "Garamond";
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
}
@media (min-width: 450px) {
  .title-h2 {
    font-size: 37px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .title-h2 {
    font-size: 72px;
    line-height: 80px;
  }
}

.title-h3 {
  font-family: "Garamond";
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
}
@media (min-width: 450px) {
  .title-h3 {
    font-size: 37px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .title-h3 {
    font-size: 50px;
    line-height: 64px;
  }
}

.title-h4 {
  font-family: "Garamond";
  font-size: 22px;
  line-height: 36px;
  font-weight: 500;
}
@media (min-width: 450px) {
  .title-h4 {
    font-size: 37px;
    line-height: 48px;
  }
}
@media (min-width: 1200px) {
  .title-h4 {
    font-size: 40px;
    line-height: 56px;
  }
}

.text-p1 {
  font-size: 18px;
  line-height: 26px;
}
@media (min-width: 450px) {
  .text-p1 {
    font-size: 20px;
    line-height: 32px;
  }
}
@media (min-width: 1200px) {
  .text-p1 {
    font-size: 26px;
    line-height: 40px;
  }
}

.text-p2 {
  font-size: 16px;
  line-height: 26px;
}
@media (min-width: 450px) {
  .text-p2 {
    font-size: 18px;
    line-height: 29px;
  }
}
@media (min-width: 1200px) {
  .text-p2 {
    font-size: 22px;
    line-height: 34px;
  }
}

.container {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.btn-main {
  padding: 26px 48px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 40px;
  background: black;
  color: white;
}

.btn-transparent {
  padding: 18px 32px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid black;
}

.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1E212C;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #405057;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus, .input:active {
  outline: none;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
}

input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #405057;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 4px;
}
input[type=checkbox]:focus, input[type=checkbox]:active {
  outline: none;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
}
input[type=checkbox]:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form-check > input {
  flex-shrink: 0;
}

input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #405057;
  border-radius: 50%;
}
input[type=radio]:focus, input[type=radio]:active {
  outline: none;
  box-shadow: 0 0 0 4px rgba(13, 110, 253, 0.25);
}
input[type=radio]:checked {
  background-color: #0d6efd;
}

.switch-group {
  padding: 4px;
  margin: 100px auto;
  display: flex;
  width: -moz-max-content;
  width: max-content;
  gap: 4px;
  background-color: #f8f9fa;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.switch-group > legend {
  visibility: hidden;
  block-size: 0;
}

.group-switch {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
}
.group-switch > * {
  color: #495057;
  padding: 4px;
  grid-area: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.group-switch > label, .group-switch > input {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.group-switch > input:focus-visible ~ svg {
  outline-offset: 1px;
  outline: 2px solid #4263eb;
}
.group-switch:hover, .group-switch > input:checked ~ svg {
  color: #4263eb;
  fill: currentColor;
  background-color: #e9ecef;
}

tool-tip {
  --_p-inline: 1.5ch;
  --_p-block: .75ch;
  --_triangle-size: 7px;
  --_bg: hsl(0 0% 20%);
  --_shadow-alpha: 50%;
  --isRTL: -1;
  --_bottom-tip: conic-gradient(from -30deg at bottom, #0000, #000 1deg 60deg, #0000 61deg) bottom / 100% 50% no-repeat;
  --_top-tip: conic-gradient(from 150deg at top, #0000, #000 1deg 60deg, #0000 61deg) top / 100% 50% no-repeat;
  --_right-tip: conic-gradient(from -120deg at right, #0000, #000 1deg 60deg, #0000 61deg) right / 50% 100% no-repeat;
  --_left-tip: conic-gradient(from 60deg at left, #0000, #000 1deg 60deg, #0000 61deg) left / 50% 100% no-repeat;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  opacity: 0;
  transform: translateX(var(--_x, 0)) translateY(var(--_y, 0));
  transition: opacity 0.2s ease, transform 0.2s ease;
  position: absolute;
  z-index: 1;
  inline-size: -moz-max-content;
  inline-size: max-content;
  max-inline-size: 25ch;
  text-align: start;
  font-size: 1rem;
  font-weight: normal;
  line-height: initial;
  padding: var(--_p-block) var(--_p-inline);
  margin: 0;
  border-radius: 5px;
  background: var(--_bg);
  color: CanvasText;
  will-change: filter;
  filter: drop-shadow(0 3px 3px hsl(0 0% 0%/var(--_shadow-alpha))) drop-shadow(0 12px 12px hsl(0 0% 0%/var(--_shadow-alpha)));
  /* light theme style adjustments */
  /* create a stacking context for elements with > tool-tips */
  /* prepend some prose for screen readers only */
  /* tooltip shape is a pseudo element so we can cast a shadow */
  /* top tooltip styles */
  /* TOP || BLOCK START */
  /* RIGHT || INLINE END */
  /* BOTTOM || BLOCK END */
  /* LEFT || INLINE START */
}
@media (prefers-color-scheme: light) {
  tool-tip {
    --_bg: white;
    --_shadow-alpha: 15%;
  }
}
tool-tip:dir(rtl) {
  --isRTL: 1;
}
@nest :has(> &) {
  tool-tip {
    position: relative;
    /* when those parent elements have focus, hover, etc */
  }
  tool-tip:is(:hover, :focus-visible, :active) > tool-tip {
    opacity: 1;
    transition-delay: 200ms;
  }
}
tool-tip::before {
  content: "; Has tooltip: ";
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
tool-tip::after {
  content: "";
  background: var(--_bg);
  position: absolute;
  z-index: -1;
  inset: 0;
  -webkit-mask: var(--_tip);
          mask: var(--_tip);
}
tool-tip:is([tip-position=top],
[tip-position=block-start],
:not([tip-position]),
[tip-position=bottom],
[tip-position=block-end]) {
  text-align: center;
}
tool-tip:is([tip-position=top], [tip-position=block-start], :not([tip-position])) {
  inset-inline-start: 50%;
  inset-block-end: calc(100% + var(--_p-block) + var(--_triangle-size));
  --_x: calc(50% * var(--isRTL));
}
@media (prefers-reduced-motion: no-preference) {
  @nest :has(> &):not(:hover, :active) tool-tip {
    tool-tip:is([tip-position=top], [tip-position=block-start], :not([tip-position])) {
      --_y: 3px;
    }
  }
}
tool-tip:is([tip-position=top], [tip-position=block-start], :not([tip-position]))::after {
  --_tip: var(--_bottom-tip);
  inset-block-end: calc(var(--_triangle-size) * -1);
  border-block-end: var(--_triangle-size) solid transparent;
}
tool-tip:is([tip-position=right], [tip-position=inline-end]) {
  inset-inline-start: calc(100% + var(--_p-inline) + var(--_triangle-size));
  inset-block-end: 50%;
  --_y: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  @nest :has(> &):not(:hover, :active) tool-tip {
    tool-tip:is([tip-position=right], [tip-position=inline-end]) {
      --_x: calc(var(--isRTL) * -3px * -1);
    }
  }
}
tool-tip:is([tip-position=right], [tip-position=inline-end])::after {
  --_tip: var(--_left-tip);
  inset-inline-start: calc(var(--_triangle-size) * -1);
  border-inline-start: var(--_triangle-size) solid transparent;
}
tool-tip:is([tip-position=right], [tip-position=inline-end]):dir(rtl)::after {
  --_tip: var(--_right-tip);
}
tool-tip:is([tip-position=bottom], [tip-position=block-end]) {
  inset-inline-start: 50%;
  inset-block-start: calc(100% + var(--_p-block) + var(--_triangle-size));
  --_x: calc(50% * var(--isRTL));
}
@media (prefers-reduced-motion: no-preference) {
  @nest :has(> &):not(:hover, :active) tool-tip {
    tool-tip:is([tip-position=bottom], [tip-position=block-end]) {
      --_y: -3px;
    }
  }
}
tool-tip:is([tip-position=bottom], [tip-position=block-end])::after {
  --_tip: var(--_top-tip);
  inset-block-start: calc(var(--_triangle-size) * -1);
  border-block-start: var(--_triangle-size) solid transparent;
}
tool-tip:is([tip-position=left], [tip-position=inline-start]) {
  inset-inline-end: calc(100% + var(--_p-inline) + var(--_triangle-size));
  inset-block-end: 50%;
  --_y: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  @nest :has(> &):not(:hover, :active) tool-tip {
    tool-tip:is([tip-position=left], [tip-position=inline-start]) {
      --_x: calc(var(--isRTL) * 3px * -1);
    }
  }
}
tool-tip:is([tip-position=left], [tip-position=inline-start])::after {
  --_tip: var(--_right-tip);
  inset-inline-end: calc(var(--_triangle-size) * -1);
  border-inline-end: var(--_triangle-size) solid transparent;
}
tool-tip:is([tip-position=left], [tip-position=inline-start]):dir(rtl)::after {
  --_tip: var(--_left-tip);
}

.custom-tip {
  --_bg: linear-gradient(to top, hsl(200 50% 50%), hsl(180 50% 50%));
  color: white;
}

.error-tip {
  --_bg: red;
  color: white;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
}

.header-logo {
  display: block;
}

.header-logo__img {
  display: block;
}

.header-nav__link {
  color: black;
  transition: 0.3s color ease;
}
.header-nav__link:hover {
  color: rgba(0, 0, 0, 0.4);
}
.header-nav__link + .header-nav__link {
  margin-left: 40px;
}

.first-section {
  margin-bottom: 100px;
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}

.first-section__wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;
}

.left-block {
  border-radius: 48px;
  background: #F6F6F6;
  position: relative;
}

.left-block__content {
  padding: 56px 0px 48px 56px;
}

.left-block__title {
  font-size: 50px;
  line-height: 64px;
  max-width: 50%;
}

.left-block__text {
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0px 342px 0px;
  max-width: 33%;
}

.left-block__image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 34px;
}

.right-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-block__top__one, .right-block__top__two {
  padding: 23px 54px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  border: 1px #1E212C solid;
  border-radius: 0px 96px 0px 0px;
  position: relative;
}
.right-block__top__one:hover, .right-block__top__two:hover {
  background-color: #EBF3FF;
}

.right-block__top__one::after {
  content: "";
  background-image: url("/img/vector-round-1.svg");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
}

.right-block__top__two::after {
  content: "";
  background-image: url("/img/vector-round-2.svg");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
}

.right-block__top__two {
  padding: 56px 54px;
  margin-top: -1px;
}

.right-block__text {
  font-family: EB Garamond;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.44px;
}

.number-of-clients {
  text-align: center;
  font-family: Mulish;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
}

.right-block__down {
  background-color: #465976;
  padding: 48px;
  border-radius: 48px 48px 48px 0px;
}

.right-block__down__text {
  font-size: 44px;
  line-height: 56px;
  font-family: EB Garamond;
  color: #fff;
  margin-bottom: 75px;
}

.btn-contact-us {
  background-color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  color: #1E212C;
  line-height: 28px;
  padding: 10px 32px;
  vertical-align: middle;
}
.btn-contact-us::before {
  content: "";
  background-image: url("/img/icon-tell.svg");
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  vertical-align: middle;
}

/* ------------first-section end----------- */
.what-we-do {
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url("/img/backgrounf_what-we-do.svg");
  background-repeat: repeat;
  background-size: 100% auto;
}

.what-we-do__wrap {
  padding-top: 96px;
}

.what-we-do__title {
  text-align: center;
  margin-bottom: 72px;
}

.what-we-do__text {
  max-width: 1026px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.what-we-do__btn {
  margin: 0 auto;
  display: block;
}

/* ------------what we do-section end----------- */
.what-sets {
  margin-top: 40px;
  margin-bottom: 115px;
}

.what-sets__title {
  padding: 80px 40px;
}

.what-sets__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
}

.info-block {
  padding: 48px 88px;
}

.info-block__title {
  margin-top: 48px;
  margin-bottom: 32px;
  white-space: nowrap;
}

.what-sets__btn {
  margin: 0 auto;
  display: block;
}
.what-sets__btn::after {
  content: "";
  background-image: url("/img/Arrow-icon.svg");
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: 12px;
  vertical-align: middle;
  padding-bottom: 33px;
}

.about-first {
  padding: 80px 24px 60px;
  text-align: center;
}
@media (min-width: 1200px) {
  .about-first {
    position: relative;
    padding: 120px 24px 120px;
  }
}

.about-first__container {
  max-width: 1026px;
  margin: 0 auto;
}

.about-first__title {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .about-first__title {
    margin-bottom: 64px;
  }
}

@media (max-width: 1199px) {
  .about-first__img {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .about-first__img {
    position: absolute;
    right: 70px;
    top: 40px;
  }
}

.about-second {
  padding: 120px 0;
}

.about-second__wrap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 40px;
}
@media (min-width: 1200px) {
  .about-second__wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
  }
}
@media (min-width: 1600px) {
  .about-second__wrap {
    gap: 173px;
  }
}

.about-second__title {
  margin-bottom: 25px;
}
@media (min-width: 450px) {
  .about-second__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .about-second__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .about-second__title {
    margin-bottom: 56px;
  }
}

.about-second__img {
  display: block;
  border-radius: 28px 70px 28px 0px;
}
@media (min-width: 1200px) {
  .about-second__img {
    border-radius: 72px 112px 72px 0px;
  }
}

.about-application {
  padding: 80px 0;
}

.about-application__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 40px;
}
@media (min-width: 1200px) {
  .about-application__wrap {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}
@media (min-width: 1600px) {
  .about-application__wrap {
    gap: 120px;
  }
}

.about-application__title {
  margin-bottom: 25px;
}
@media (min-width: 450px) {
  .about-application__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .about-application__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .about-application__title {
    margin-bottom: 56px;
  }
}

.about-application__btn {
  margin-top: 40px;
}
@media (min-width: 1600px) {
  .about-application__btn {
    margin-top: 56px;
  }
}

.about-block {
  padding: 80px 0;
}

.about-block__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 1200px) {
  .about-block__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  .about-block__wrap {
    gap: 48px;
  }
}

.about-block__block {
  padding: 30px;
  border: 2px solid black;
  border-radius: 48px;
}
@media (min-width: 1200px) {
  .about-block__block {
    padding: 40px;
  }
}
@media (min-width: 1600px) {
  .about-block__block {
    padding: 64px 80px;
  }
}

.about-block__title {
  margin-bottom: 20px;
}
@media (min-width: 450px) {
  .about-block__title {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  .about-block__title {
    margin-bottom: 32px;
  }
}

.about-trust {
  padding: 80px 0;
}

.about-trust__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .about-trust__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .about-trust__title {
    margin-bottom: 96px;
  }
}

.about-trust__blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 1200px) {
  .about-trust__blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1600px) {
  .about-trust__blocks {
    gap: 48px;
  }
}

.about-trust__block {
  padding: 30px;
  border: 2px solid black;
  background-color: #EBF3FF;
  border-radius: 48px;
}
.about-trust__block:nth-child(2) {
  background-color: #F6F6F6;
}
@media (min-width: 1200px) {
  .about-trust__block {
    padding: 40px;
  }
}
@media (min-width: 1600px) {
  .about-trust__block {
    padding: 64px 80px;
  }
}

.about-trust__brands {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 60px;
}
@media (min-width: 450px) {
  .about-trust__brands {
    margin-top: 70px;
  }
}
@media (min-width: 1200px) {
  .about-trust__brands {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    margin-top: 80px;
  }
}
@media (min-width: 1600px) {
  .about-trust__brands {
    margin-top: 160px;
  }
}

.about-trust__brand {
  padding: 10px;
  height: 85px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border: 1px solid black;
  border-radius: 20px;
}

.about-сonsultations {
  padding: 80px 0;
}

.about-сonsultations__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-сonsultations__img {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .about-сonsultations__img {
    margin-bottom: 68px;
  }
}

.about-сonsultations__btn {
  margin-bottom: 90px;
}
@media (min-width: 450px) {
  .about-сonsultations__btn {
    margin-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  .about-сonsultations__btn {
    margin-bottom: 176px;
  }
}

.about-сonsultations__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .about-сonsultations__title {
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  .about-сonsultations__title {
    margin-bottom: 56px;
  }
}

.services-first {
  padding: 80px 0;
}

.services-first__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
@media (min-width: 1200px) {
  .services-first__wrap {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .services-first__content {
    text-align: center;
  }
}

.services-first__title {
  margin-bottom: 30px;
}
@media (min-width: 450px) {
  .services-first__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .services-first__title {
    margin-bottom: 56px;
  }
}

.services-first__btn {
  margin-top: 40px;
}
@media (max-width: 1199px) {
  .services-first__btn {
    width: 100%;
  }
}
@media (min-width: 1600px) {
  .services-first__btn {
    margin-top: 56px;
  }
}

.services-offer {
  padding: 80px 0;
}

.services-offer__wrap {
  display: grid;
}
@media (min-width: 1200px) {
  .services-offer__wrap {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

.services-offer__title {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .services-offer__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1600px) {
  .services-offer__title {
    margin-bottom: 56px;
  }
}

.services-offer ul li + li {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  .services-offer ul li + li {
    margin-top: 24px;
  }
}

.services-offer__btn {
  display: block;
  margin-top: 30px;
}
@media (min-width: 450px) {
  .services-offer__btn {
    margin-top: 40px;
  }
}
@media (min-width: 1200px) {
  .services-offer__btn {
    margin: 80px auto 0;
  }
}
@media (min-width: 1600px) {
  .services-offer__btn {
    margin: 100px auto 0;
  }
}

.services-tasks {
  padding: 80px 0;
}

.services-tasks .container {
  max-width: 1140px;
  text-align: center;
}

.services-tasks__title {
  margin-bottom: 40px;
}
@media (min-width: 1200px) {
  .services-tasks__title {
    margin-bottom: 80px;
  }
}

.services-tasks__text {
  margin-top: 40px;
}
@media (min-width: 1200px) {
  .services-tasks__text {
    margin-top: 80px;
  }
}

.services-advantages {
  padding: 80px 0;
}

.services-advantages__wrap {
  display: grid;
}
@media (min-width: 1200px) {
  .services-advantages__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services-advantages__content {
  padding-bottom: 30px;
}
@media (min-width: 450px) {
  .services-advantages__content {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .services-advantages__content {
    grid-column: span 2;
    padding: 48px 30px;
  }
}
@media (min-width: 1600px) {
  .services-advantages__content {
    padding: 48px;
  }
}

.services-advantages__title {
  margin-bottom: 30px;
}
@media (min-width: 450px) {
  .services-advantages__title {
    margin-bottom: 40px;
  }
}
@media (min-width: 1200px) {
  .services-advantages__title {
    margin-bottom: 32px;
  }
}

.services-advantages__block {
  padding: 30px;
  margin-top: -1px;
  border-radius: 48px;
  border: 2px solid black;
  background: #F6F6F6;
}
@media (min-width: 1200px) {
  .services-advantages__block {
    padding: 40px;
    margin: -1px;
  }
}
@media (min-width: 1600px) {
  .services-advantages__block {
    padding: 64px 56px 48px 56px;
  }
}
.services-advantages__block:nth-child(odd) {
  background: #EBF3FF;
}/*# sourceMappingURL=main.css.map */