{% extends "main.njk" %}

{% block head %}
  {% set title = 'About' %}
{% endblock head %}

{% block content %}

<section class="about-first">
  <div class="about-first__container">
    <img class="about-first__img" src="/img/about-first.svg" alt="">
    <h1 class="title-h2 about-first__title">A team of experts in taxes, accounting and financial consulting</h1>
    <p class="text-p1 about-first__title">Growth and Development Consulting (G&D Consulting) is a goal-driven and innovative finance leader with a proven track record of performance improvement in highly competitive markets.</p>
  </div>
</section>

<section class="about-second">
  <div class="container">
    <div class="about-second__wrap">
      <div class="about-second__image">
        <img class="about-second__img" src="/img/about-second.png" alt="">
      </div>

      <div class="about-second__content">
        <h2 class="title-h3 about-second__title">A reliable consulting company is the key to a successful business</h2>
        <p class="text-p2 about-second__text">With over 10 years of experience in industries such as accounting, audit, IT, automotive, engineering and construction, our strong analytical and leadership skills make us the ideal partner for businesses seeking success in the UAE.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-application">
  <div class="container">
    <div class="about-application__wrap">
      <div class="about-application__content">
        <h2 class="title-h3 about-application__title">We implement your business ideas and plans with the help of G&D Consulting</h2>
        <p class="text-p2 about-application__text">We offer a full range of professional services, including accounting, consulting, tax and audit support, as well as legal advice. We specialize in advising on business creation and corporate tax regulations, drawing on a deep understanding of the local market and industry insights.</p>
        <button class="btn-transparent about-application__btn">Submit your application</button>
      </div>

      <div class="about-application__image">
        <img class="about-application__img" src="/img/about-application.svg" alt="">
      </div>
    </div>
  </div>
</section>

<section class="about-block">
  <div class="container">
    <div class="about-block__wrap">
      <div class="about-block__block">
        <h4 class="title-h3 about-block__title">Business support in the UAE</h4>
        <p class="text-p2 about-block__text">Our team specializes in providing accounting and tax services in the UAE, providing financial advice tailored to your needs.</p>
      </div>

      <div class="about-block__block">
        <h4 class="title-h3 about-block__title">Combination of global and local experience</h4>
        <p class="text-p2 about-block__text">Combining international experience with deep knowledge of the local market, we provide our customers with exceptional service. We pride ourselves on being available, quickly and efficiently resolving customer issues and concerns.</p>
      </div>
    </div>
  </div>
</section>

<section class="about-trust">
  <div class="container">
    <h2 class="title-h3 about-trust__title">We are trusted</h2>

    <div class="about-trust__blocks">
      <div class="about-trust__block">
        <p class="text-p2 about-trust__text">We are committed to providing high quality consistent services with integrity and reliability, helping clients seize opportunities and minimize risks.</p>
      </div>
      <div class="about-trust__block">
        <p class="text-p2 about-trust__text">We believe that effective communication and proactive, results-driven approaches are integral to success for entrepreneurial leaders.</p>
      </div>
    </div>

    <div class="about-trust__brands">
      {% for i in [1, 2, 3, 4, 5, 6, 7] %}
      <img class="about-trust__brand" src="/img/brand-{{ i }}.png" alt="Изображение {{ i }}">
      {% endfor %}
    </div>
  </div>
</section>

<section class="about-сonsultations">
  <div class="container">
    <div class="about-сonsultations__wrap">
      <img class="about-сonsultations__img" src="/img/about-сonsultations.svg" alt="">
      <button class="btn-main about-сonsultations__btn">Get free сonsultations</button>
      <h2 class="title-h3 about-сonsultations__title">Or you can contact with us</h2>
      <p class="text-p2 about-сonsultations__text">Get a free consultation and find out the cost of services</p>
    </div>
  </div>
</section>

{% endblock %}