{% extends "main.njk" %}
{% block content %}

<section class="about-first">
  <div class="about-first__container">
    <h1 class="title-h2 about-first__title">A team of experts in taxes, accounting and financial consulting</h1>
    <p class="text-p1 about-first__title">Growth and Development Consulting (G&D Consulting) is a goal-driven and innovative finance leader with a proven track record of performance improvement in highly competitive markets.</p>
  </div>
</section>

{% endblock %}