{% extends "main.njk" %} {% block head %} {% set title = 'Financial' %} {%
endblock head %} {% block content %}

<section class="finance-first">
  <div class="container">
    <div class="finance-first__wrap">
      <div class="finance-first__content">
        <h1 class="title-h2 finance-first__title">Financial Consulting</h1>
        <p class="finance-first__text">
          We know how to succeed together with clients, no matter how difficult
          the situation may be. Our experts are happy to help entrepreneurs in
          all industries, from large corporations to small businesses, private
          investors and startups.<br /><br />
          We also provide services in opening and supporting a business in the
          UAE.
        </p>
        <button class="btn-main finance-first__btn">
          Submit your application
        </button>
      </div>

      <div class="finance-first__image">
        <img
          class="finance-first__img"
          src="/img/finance-first-img.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

<section class="finance-second">
  <div class="container">
    <div class="finance-second-wrap">
      <div class="finance-second__block">
        <h2 class="title-h3 finance-second__title">
          Financial Planning and Analysis
        </h2>
        {#
        <ul class="finance-second__block__list">
          <li></li>
          <li></li>
        </ul>
        #}
        <p class="text-p2">
          Creating financial plans and budgets for managing a company’s finances
        </p>
        <p class="text-p2">
          Analyzing financial statements, identifying problem areas, and
          developing recommendations to improve financial performance
        </p>
      </div>
      <div class="finance-second__block">
        <h2 class="title-h3 finance-second__title">
          Financial Management and Investment
        </h2>
        {#
        <ul class="finance-second__block__list">
          <li></li>
          <li></li>
        </ul>
        #}
        <p class="text-p2">
          Managing a company's cash flows and investment portfolios
        </p>
        <p class="text-p2">
          Assisting in the selection and evaluation of investment projects and
          financial instruments to achieve a company's financial goals.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="offer">
  <div class="container">
    <div class="offer-info__block">
      <div class="offer-info__list-content">
        <h3 class="title-h3 offer-info__list-title">We offer solutions for your business</h3>
        
        <div class="offer__image">
          <img class="offer__img" src="img/Offer-section.png" alt="" />
        </div>
        
        <ul class="text-p2 offer-info__list">
          <li>Financial Modelling and Business Planning</li>
          <li>Business and Asset Valuation</li>
          <li>Mergers and Acquisitions (M&A)</li>
          <li>Due Diligence</li>
          <li>Risk management and internal control</li>
          <li>Internal and Financial audit</li>
        </ul>

        <button class="btn-main offer__btn">Get free сonsultations</button>
      </div>

    </div>
  </div>
</section>

{% endblock %}
