{% extends "main.njk" %} {% block head %} {% set title = 'Financial' %} {%
endblock head %} {% block content %}

<section class="finance-first">
  <div class="container">
    <div class="finance-first__wrap">
      <div class="finance-first__content">
        <h1 class="title-h2 finance-first__title">Financial Consulting</h1>
        <p class="finance-first__text">
          We know how to succeed together with clients, no matter how difficult
          the situation may be. Our experts are happy to help entrepreneurs in
          all industries, from large corporations to small businesses, private
          investors and startups.<br />
          We also provide services in opening and supporting a business in the
          UAE.
        </p>
        <button class="btn-main finance-first__btn">
          Submit your application
        </button>
      </div>

      <div class="finance-first__image">
        <img
          class="finance-first__img"
          src="/img/finance-first-img.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>

{% endblock %}
