{% extends "main.njk" %}

{% block content %}

<section class="first-section">
  <div class="container">
    <div class="first-section__wrap">
      <div class="left-block">
        <h2 class="title-h3 left-block__title">
          Take сontrol of your finances with our reliable services
        </h2>
        <p class="text-p2 left-block__text">
          Financial planning, tax consultancy and accounting solutions
        </p>
        <button class="btn-transparent left-block__btn">Learn more</button>

        <div class="left-block__image">
          <img class="left-block__img" src="/img/first-section.png" alt="" />
        </div>
      </div>

      <div class="right-block__top">
        <div class="right-block__top__one">
          <div class="right-block__image">
            <img
              class="right-block__img"
              src="/img/first-section-logo1.svg"
              alt=""
            />
          </div>
          <p class="right-block__text">Trusted by Companies</p>
        </div>
        <div class="right-block__top__two">
          <p class="right-block__text number-of-clients">100+</p>
          <p class="right-block__text">Satisfied Clients</p>
        </div>
      </div>

      <div class="right-block__down">
        <p class="right-block__down__text">Get quick free сonsultations</p>
        <button class="btn-main btn-contact-us">Contact Us</button>
      </div>
      
    </div>
  </div>
</section>

<section class="what-we-do">
  <div class="container">
    <div class="what-we-do__wrap">
      <h1 class="title-h2 what-we-do__title">What we do</h1>
      <p class="text-p1 what-we-do__text">
        We provide accounting services, tax consultancy and financial solutions
        to help you stay ahead of the game from all key sectors of the
        economy.<br />Relying on our unrivalled multi-year experience, you will
        be able to discover new ways of development and find winning
        opportunities.
      </p>
      <button class="btn-transparent what-we-do__btn">More about us</button>
    </div>
  </div>
</section>

<section class="what-sets">
  <div class="container">
    <h2 class="title-h2 what-sets__title">What sets us apart</h2>
    <div class="what-sets__row">
      <div class="info-block what-sets__block">
        <img class="info-block__img" src="/img/info-block-1.svg" alt="" />
        <h4 class="title-h4 info-block__title">Reliable Connections</h4>
        <p class="text-p2 info-block__text">
          We prioritize understanding client needs, supporting them beyond
          advice, anticipating business issues, emphasizing clear communication,
          and hands-on management.
        </p>
      </div>
      <div class="info-block what-sets__block">
        <img class="info-block__img" src="/img/info-block-2.svg" alt="" />
        <h4 class="title-h4 info-block__title">Professional Responsibility</h4>
        <p class="text-p2 info-block__text">
          We foster honest relationships with clients and colleagues, nurturing
          mutual understanding, support, and comprehending individual needs.
        </p>
      </div>
      <div class="info-block what-sets__block">
        <img class="info-block__img" src="/img/info-block-3.svg" alt="" />
        <h4 class="title-h4 info-block__title">Close Client Rapport</h4>
        <p class="text-p2 info-block__text">
          We practice responsibility and professionalism, adhering to high
          standards, providing comprehensive advice, engaging skilled
          specialists, and valuing confidentiality and ethics.
        </p>
      </div>
    </div>
    <button class="btn-transparent what-sets__btn">
      Get free сonsultations
    </button>
  </div>
</section>

<section class="services">
  <div class="container">
    <h2 class="title-h2 services-title">Services we provide</h2>
    
    <div class="services-info__block">
      <div class="service__image">
        <img class="services__img" src="/img/service_1.svg" alt="" />
      </div>

      <div class="services-info__list-content">
        <h3 class="title-h3 services-info__list-title">Accounting Services</h3>
        <ul class="text-p2 services-info__list">
          <li>Managing full company’s accounting</li>
          <li>Partial accounting with “VAT”, “wage expenses” etc.</li>
          <li>Accounting outsourcing</li>
          <li>Financial statement analysis, interpretation, and evaluation</li>
          <li>Advising on emerging tax issues</li>
          <li>Assistance in resolving business disputes</li>
        </ul>
        <button class="btn-transparent services-info__btn">More info</button>
      </div>
    </div>

    <div class="services-info__block">
      <div class="services-info__list-content">
        <h3 class="title-h3 services-info__list-title">Tax Consulting</h3>
        <ul class="text-p2 services-info__list">
          <li>VAT Registration, Filing, Amendment, Audit</li>
          <li>VAT Accounting & Consultancy</li>
          <li>Filing reconsideration form for VAT penalties</li>
          <li>Guidance with Tax Invoice</li>
          <li>Excise Tax Registration & Services</li>
          <li>Corporate tax consultancy</li>
        </ul>
        <button class="btn-transparent services-info__btn">More info</button>
      </div>

      <div class="service__image">
        <img class="services__img" src="/img/service_2.svg" alt="" />
      </div>
    </div>

    <div class="services-info__block">
      <div class="service__image">
        <img class="services__img" src="/img/service_3.svg" alt="" />
      </div>

      <div class="services-info__list-content">
        <h3 class="title-h3 services-info__list-title">Financial Consulting</h3>
        <ul class="text-p2 services-info__list">
          <li>Financial Modelling and Business Planning</li>
          <li>Business and Asset Valuation</li>
          <li>Mergers and Acquisitions (M&A)</li>
          <li>Due Diligence</li>
          <li>Risk management and internal control</li>
          <li>Internal & External audit</li>
        </ul>
        <button class="btn-transparent services-info__btn">More info</button>
      </div>
    </div>
  </div>
</section>

<section class="experience">
  <div class="container">
    <h2 class="title-h2 experience__title">Experience</h2>
    <div class="experience__row">
      <div class="info-block experience__block">
        <img class="info-block__img" src="img/experience_1.svg" alt="" />
        <h4 class="title-h4 info-block__title">Experience in the UAE</h4>
        <p class="text-p2 info-block__text">
          Our team specializes in accounting, bookkeeping, and tax services in
          the UAE, providing consultations tailored to your needs. We have vast
          experience advising top UAE companies, private investment firms, and
          startups. Our priorities include a cohesive team, result-oriented
          focus, and a deep understanding of the local Emirati market and its
          financial regulations.
        </p>
      </div>
      <div class="info-block experience__block">
        <img class="info-block__img" src="img/experience_2.svg" alt="" />
        <h4 class="title-h4 info-block__title">Adapting to Market Changesty</h4>
        <p class="text-p2 info-block__text">
          We consider the specifics of UAE legislation and our clients' industry
          characteristics. Our team keeps an eye on technological solutions and
          quickly adapts to market changes. This approach helps improve business
          processes and maintain stability in a dynamic environment.
        </p>
      </div>
      <div class="info-block experience__block">
        <img class="info-block__img" src="img/experience_3.svg" alt="" />
        <h4 class="title-h4 info-block__title">
          Global and Local Expertise Combined
        </h4>
        <p class="text-p2 info-block__text">
          By merging international experience with a profound knowledge of the
          local market, we provide an exceptional service to our clients. We
          pride ourselves on being accessible, promptly and efficiently
          addressing any client concerns that may arise.
        </p>
      </div>
    </div>
    <button class="btn-transparent experience__btn">
      Get free сonsultations
    </button>
  </div>
</section>

<section class="our-principles">
  <div class="container">
    <div class="star__image">
      <img class="star__img" src="img/Vector-Star.svg" alt="" />
    </div>

    <div class="our-principles__wrap">
      <h2 class="title-h2 our-principles__title">Our  principles</h2>

      <div class="our-principles__block">
        <p class="text-p2 our-principles__description">
          Providing an individual approach to each client and developing a
          personalized solution for their business
        </p>
        <button class="btn-transparent our-principles__block__btn">
          <img src="img/btn2.svg" alt="" />
        </button>
      </div>
      <div class="our-principles__block">
        <p class="text-p2 our-principles__description">
          Maintaining transparency in communication with clients and promptly
          responding to their inquiries
        </p>
        <button class="btn-transparent our-principles__block__btn">
          <img src="img/btn2.svg" alt="" />
        </button>
      </div>
      <div class="our-principles__block">
        <p class="text-p2 our-principles__description">
          Prioritizing the completion of tasks in full and on time, as one of
          the key factors
        </p>
        <button class="btn-transparent our-principles__block__btn">
          <img src="img/btn2.svg" alt="" />
        </button>
      </div>
      <div class="our-principles__block">
        <p class="text-p2 our-principles__description">
          Taking care of employees to ensure high-quality task completion every
          day
        </p>
        <button class="btn-transparent our-principles__block__btn">
          <img src="img/btn2.svg" alt="" />
        </button>
      </div>
      <div class="our-principles__block">
        <p class="text-p2 our-principles__description">
          Providing quality solutions based on experience and practical
          knowledge
        </p>
        <button class="btn-transparent our-principles__block__btn">
          <img src="img/btn2.svg" alt="" />
        </button>
      </div>
    </div>
  </div>

  <div class="line-star__image">
    <img class="line-star__img" src="img/star-line.svg" alt="" />
  </div>
</section>

<section class="sto-plus">
  <div class="container">
    <h2 class="title-h2 sto-plus__title">100+ Satisfied Clients</h2>
    <img class="sto-plus__img" src="img/100plus__img.svg" alt="" />
    <p class="text-p2 sto-plus__description">
      At G&D Consulting, we have successfully helped numerous clients in
      overcoming financial, tax, and accounting challenges. With a growing base
      of over 100 satisfied clients, our team of experts is well-equipped with
      the essential knowledge and expertise to prevent errors, ensure
      compliance, and capitalize on opportunities that others might overlook. By
      efficiently managing time-consuming tasks, we enable our clients to focus
      on their core business objectives and personal endeavors. <br />
      <br />
      Our commitment to cost-effectiveness and security has earned us the trust
      of a wide range of clients. We provide top-notch services without
      compromising on quality or the safeguarding of your confidential
      information. Our transparent and prompt communication guarantees clients
      remain well-informed and supported throughout our collaboration.
    </p>
  </div>
</section>

<section class="work-together">
  <div class="container">
    <h2 class="title-h2 work-together__title">Let’s work together!</h2>
    <form class="form" action="/submit" method="post">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Your name"
        required
      />
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Your Email"
        required
      />
      <select
        name="request"
        id="request"
        placeholder="What is your request"
        required
      >
        <option value="request" checked>What is your request?</option>
        <option value="Accounting Services">Accounting Services</option>
        <option value="Tax Consulting">Tax Consulting</option>
        <option value="Financial Consulting">Financial Consulting</option>
      </select>
      <textarea
        id="message"
        name="message"
        placeholder="Tell more about your request"
      ></textarea>
      <button class="btn-main form__btn">Send</button>
    </form>
  </div>
</section>

<section class="contact">
  <div class="line-star__image">
    <img class="line-star__img" src="img/star-line.svg" alt="" />
  </div>

  <div class="container">
    <h2 class="title-h2 contact__title">Or you can contact with us</h2>
    <div class="contact__btns">
      <button class="whatsapp__btn">Whatsapp</button>
      <button class="telegram__btn">Telegram</button>
      <button class="email__btn">E-mail</button>
    </div>
    <p class="text-p2 contact__text">
      Click for a free consultation and confidently achieve financial goals.
      Empower your business with our expert services. Act now!
    </p>
  </div>
</section>

{% endblock %} /* ! проблема с background при масштабировании */


