{% extends "main.njk" %}
{% block content %}

<section class="services-first">
  <div class="container">
    <div class="services-first__wrap">
      <div class="services-first__content">
        <h1 class="title-h2 services-first__title">Accounting services</h1>
        <p class="text-p2 services-first__text">We will provide your business with full support in accordance with the requirements of the UAE legislation.<br><br>Our experts will provide tax registration, high-quality accounting, preparation and submission of tax returns, help in passing an audit and analyze taxes according to settlement schemes and commercial transactions.</p>
        <button class="btn-transparent services-first__btn">Submit your application</button>
      </div>

      <div class="services-first__image">
        <img class="services-first__img" src="/img/services-first.png" alt="">
      </div>
    </div>
  </div>
</section>

<section class="about-block">
  <div class="container">
    <div class="about-block__wrap">
      <div class="about-block__block">
        <h4 class="title-h3 about-block__title">Business support in the UAE</h4>
        <p class="text-p2 about-block__text">Our team specializes in providing accounting and tax services in the UAE, providing financial advice tailored to your needs.</p>
      </div>

      <div class="about-block__block">
        <h4 class="title-h3 about-block__title">Combination of global and local experience</h4>
        <p class="text-p2 about-block__text">Combining international experience with deep knowledge of the local market, we provide our customers with exceptional service. We pride ourselves on being available, quickly and efficiently resolving customer issues and concerns.</p>
      </div>
    </div>
  </div>
</section>

<section class="services-offer">
  <div class="container">
    <div class="services-offer__wrap">
      <div class="services-offer__content">
        <h2 class="title-h3 services-offer__title">We offer solutions for your business</h2>
        <ul class="text-p2 services-offer__list">
          <li>Managing full company’s accounting</li>
          <li>Partial accounting with “VAT”, “wage expenses” etc.</li>
          <li>Accounting outsourcing</li>
          <li>Financial statement analysis, interpretation, and evaluation</li>
          <li>Advising on emerging tax issues</li>
          <li>Assistance in resolving business disputes</li>
        </ul>
      </div>

      <div class="services-offer__image">
        <img class="services-offer__img" src="/img/services-offer.png" alt="">
      </div>
    </div>

    <button class="btn-main services-offer__btn">Get free сonsultations</button>
  </div>
</section>

<section class="services-tasks">
  <div class="container">
    <div class="services-tasks__wrap">
      <h2 class="title-h3 services-tasks__title">We close tasks faster than a full-time accountant</h2>
      <img class="services-tasks__img" src="/img/services-tasks.svg" alt="">
      <p class="text-p2 services-tasks__text">Turning to G&D Consulting specialists for outsourcing accounting services and tax consulting, you will receive high-quality business support and reduce costs</p>
    </div>
  </div>
</section>

<section class="services-advantages">
  <div class="container">
    <div class="services-advantages__wrap">
      <div class="services-advantages__content">
        <h2 class="title-h2 services-advantages__title">Advantages</h2>
        <p class="text-p2 services-advantages__text">Conducting accounting services in our company has a number of significant advantages, especially if your business does not belong to the large category.</p>
      </div>

      <div class="services-advantages__block">
        <p class="text-p2 services-advantages__description">The payment for accounting services is significantly less than the salary of a qualified accountant</p>
      </div>

      <div class="services-advantages__block">
        <p class="text-p2 services-advantages__description">G&D Consulting will be responsible for organizing accounting, searching for personnel for accounting, and other related tasks</p>
      </div>

      <div class="services-advantages__block">
        <p class="text-p2 services-advantages__description">G&D Consulting specialists are highly qualified in accounting & bookeeping</p>
      </div>

      <div class="services-advantages__block">
        <p class="text-p2 services-advantages__description">In addition to accounting support, you can count on qualified legal assistance in G&D Consulting</p>
      </div>
    </div>
  </div>
</section>

<section class="about-сonsultations">
  <div class="container">
    <div class="about-сonsultations__wrap">
      <img class="about-сonsultations__img" src="/img/about-сonsultations.svg" alt="">
      <button class="btn-main about-сonsultations__btn">Get free сonsultations</button>
      <h2 class="title-h3 about-сonsultations__title">Or you can contact with us</h2>
      <p class="text-p2 about-сonsultations__text">Get a free consultation and find out the cost of services</p>
    </div>
  </div>
</section>

{% endblock %}