<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="/" class="header-logo">
        <img class="header-logo__img" src="/img/logo.svg" alt="" />
      </a>

      <nav class="header-nav">
        <a class="header-nav__link" href="/services.html">
          Accounting Services
        </a>
        <a class="header-nav__link" href="/"> Tax Consulting </a>
        <a class="header-nav__link" href="/financial.html">
          Financial Consulting
        </a>
        <a class="header-nav__link" href="/about.html"> About Us </a>
        <a class="header-nav__link" href="/contact.html"> Contact </a>
      </nav>

      <button class="burger">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>
