// Inlcude fonts
@include font-face('Garamond', 'EBGaramond-Regular', 400);
@include font-face('Garamond', 'EBGaramond-Medium', 500);
@include font-face('Mulish', 'Mulish-Regular', 400);
@include font-face('Mulish', 'Mulish-Medium', 500);
@include font-face('Mulish', 'Mulish-Bold', 700);

// Main Fonts
.title-h1 {
  font-family: 'Garamond';
  font-size: 120px;
  line-height: 130px;
  font-weight: 500;
}

.title-h2 {
  font-family: 'Garamond';
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
  
  @media (min-width: 450px) {
    font-size: 37px;
    line-height: 48px;
  }
  
  @media (min-width: 1200px) {
    font-size: 72px;
    line-height: 80px;
  }
}

.title-h3 {
  font-family: 'Garamond';
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;

  @media (min-width: 450px) {
    font-size: 37px;
    line-height: 48px;
  }

  @media (min-width: 1200px) {
    font-size: 50px;
    line-height: 64px;
  }
}

.text-p1 {
  font-size: 26px;
  line-height: 40px;
}

.text-p2 {
  font-size: 22px;
  line-height: 34px;
}

.text-p3 {
  font-size: 20px;
  line-height: 30px;
}