// First
.about-first {
  padding: 80px 24px 60px;
  text-align: center;
  
  @media (min-width: 1200px) {
    padding: 120px 24px 120px;
  }
}

.about-first__container {
  max-width: 1026px;
  margin: 0 auto;
}

.about-first__title {
  margin-bottom: 30px;
  
  @media (min-width: 1200px) {
    margin-bottom: 64px;
  }
}

// Second
.about-second {
  padding: 120px 0;
}

.about-second__wrap {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 40px;
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 53px;
  }
  
  @media (min-width: 1600px) {
    gap: 173px;
  }
}

.about-second__title {
  margin-bottom: 25px;
  
  @media (min-width: 450px) {
    margin-bottom: 30px;
  }
  
  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }
  
  @media (min-width: 1600px) {
    margin-bottom: 56px;
  }
}

.about-second__img {
  display: block;
  border-radius: 28px 70px 28px 0px;

  @media (min-width: 1200px) {
    border-radius: 72px 112px 72px 0px;
  }
}

// Application
.about-application {
  padding: 80px 0;
}

.about-application__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px 40px;
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  @media (min-width: 1600px) {
    gap: 120px;
  }
}

.about-application__title {
  margin-bottom: 25px;

  @media (min-width: 450px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1200px) {
    margin-bottom: 40px;
  }

  @media (min-width: 1600px) {
    margin-bottom: 56px;
  }
}

.about-application__btn {
  margin-top: 40px;

  @media (min-width: 1600px) {
    margin-top: 56px;
  }
}

// Block
.about-block {
  padding: 80px 0;
}

.about-block__wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: 1600px) {
    gap: 48px;
  }
}

.about-block__block {
  padding: 30px;
  border: 2px solid black;
  border-radius: 48px;
  
  @media (min-width: 1200px) {
    padding: 40px;
  }
  
  @media (min-width: 1600px) {
    padding: 64px 80px;
  }
}

.about-block__title {
  margin-bottom: 20px;

  @media (min-width: 450px) {
    margin-bottom: 30px;
  }
  
  @media (min-width: 1200px) {
    margin-bottom: 32px;
  }
}

// Trust
.about-trust {
  padding: 80px 0;
}

.about-trust__title {
  margin-bottom: 40px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }

  @media (min-width: 1600px) {
    margin-bottom: 96px;
  }
}

.about-trust__blocks {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1600px) {
    gap: 48px;
  }
}

.about-trust__block {
  padding: 30px;
  border: 2px solid black;
  background-color: #EBF3FF;
  border-radius: 48px;
  
  &:nth-child(2) {
    background-color: #F6F6F6;
  }

  @media (min-width: 1200px) {
    padding: 40px;
  }
  
  @media (min-width: 1600px) {
    padding: 64px 80px;
  }
}

.about-trust__brands {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-top: 60px;
  
  @media (min-width: 450px) {
    margin-top: 70px;
  }
  
  @media (min-width: 1200px) {
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    margin-top: 80px;
  }

  @media (min-width: 1600px) {
    margin-top: 160px;
  }
}

.about-trust__brand {
  padding: 10px;
  height: 85px;
  width: 100%;
  object-fit: contain;
  border: 1px solid black;
  border-radius: 20px;
}

// Consultations
.about-сonsultations {
  padding: 80px 0;
}

.about-сonsultations__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-сonsultations__img {
  margin-bottom: 40px;
  
  @media (min-width: 1200px) {
    margin-bottom: 68px;
  }
}

.about-сonsultations__btn {
  margin-bottom: 90px;
  
  @media (min-width: 450px) {
    margin-bottom: 100px;
  }
  
  @media (min-width: 1200px) {
    margin-bottom: 176px;
  }
}

.about-сonsultations__title {
  margin-bottom: 40px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
  
  @media (min-width: 1600px) {
    margin-bottom: 56px;
  }
}