

.contact-page__title {
  text-align: center;
  margin: 80px 0px;

  @media (min-width: 360px) {
    margin: 40px 0px;
  }
}

.link__block {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  max-width: 559px;
  margin: 0 auto;

  @media (min-width: 360px) {
    gap: 25px;
    align-items: flex-start;
  }

  @media (min-width: 640px) {
    align-items: center;
    max-width: 453px;
  }

  @media (min-width: 1200px) {
    align-items: center;
    max-width: 559px;
  }
}

.adress-link {
  display: flex;
  align-items: center;
  gap: 20px;
  &::before {
    content: '';
    background-image: url('img/adress-icon.svg');
    width: 42px;
    height: 42px;
    display: block;
    padding-left: 40px;
    vertical-align: middle;
  }
}

// Что за дичь с отступами у .adress-link  и иконки //

.tell-link {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    background-image: url('img/tel-icon.svg');
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 20px;
    vertical-align: middle;
  }
}

.email-link {
  display: flex;
  align-items: center;
  &::before {
    content: '';
    background-image: url('img/mail-icon.svg');
    width: 42px;
    height: 42px;
    display: block;
    margin-right: 20px;
    vertical-align: middle;
  }
}

.map {
  border-radius: 28px;
  margin: 100px auto 200px;
  max-width: 1433px;
  

  @media (min-width: 360px) {
    height: 429px;
    margin: 40px 0px 50px 0px;
  } 

  @media (min-width: 1200px) {
    height: 576px;
    margin: 100px 0px 150px 0px;
  }
}
