.first-section {
  margin-bottom: 100px;
}

.container__container {
  max-width: 1720px;
  margin: 0 auto;
}

.first-section__wrap {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 24px;
}

// left block

.left-block {
  border-radius: 48px;
  background: $light-gray;
  position: relative;
}

.left-block__content {
  padding: 56px 0px 48px 56px;
}

.left-block__title {
  font-size: 50px;
  line-height: 64px;
  max-width: 50%;
}

.left-block__text {
  font-size: 20px;
  line-height: 30px;
  margin: 32px 0px 342px 0px;
  max-width: 33%;
}

.left-block__image {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 34px;
}

// right-block

.right-block {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-block__top__one,
.right-block__top__two {
  padding: 23px 54px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  border: 1px $black solid;
  border-radius: 0px 96px 0px 0px;
  position: relative;
  &:hover {
    background-color: $light-blue;
  }
}

.right-block__top__one::after {
  content: "";
  background-image: url("/img/vector-round-1.svg");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
}

.right-block__top__two::after {
  content: "";
  background-image: url("/img/vector-round-2.svg");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 0px;
}

.right-block__top__two {
  padding: 56px 54px;
  margin-top: -1px;
}

.right-block__text {
  font-family: EB Garamond;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0.44px;
}

.number-of-clients {
  text-align: center;
  font-family: Mulish;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
}

.right-block__down {
  background-color: $violet;
  padding: 48px;
  border-radius: 48px 48px 48px 0px;
}

.right-block__down__text {
  font-size: 44px;
  line-height: 56px;
  font-family: EB Garamond;
  color: $white;
  margin-bottom: 75px;
}

.btn-contact-us {
  background-color: $white;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  color: $black;
  line-height: 28px;
  padding: 10px 32px;
  vertical-align: middle;
  &::before {
    content: "";
    background-image: url("/img/icon-tell.svg");
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    vertical-align: middle;
  }
}

/* ------------first-section end----------- */
.what-we-do {
  padding-top: 216px;
  padding-bottom: 216px;
  background-image: url("/img/backgrounf_what-we-do.svg");
  background-repeat: repeat;
  background-size: 100% auto;
}

.what-we-do__wrap {
  padding-top: 96px;
}

.what-we-do__title {
  text-align: center;
  margin-bottom: 72px;
}

.what-we-do__text {
  max-width: 1026px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 72px;
}

.what-we-do__btn {
  margin: 0 auto;
  display: block;
}

/* ------------what we do-section end----------- */

.what-sets {
  margin-top: 40px;
  margin-bottom: 115px;
}

.what-sets__title {
  padding: 80px 40px;
}

.what-sets__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 80px;
}

.info-block {
  padding: 48px 88px;
  max-width: 572px;
}

.info-block__title {
  margin-top: 48px;
  margin-bottom: 32px;
  // white-space: nowrap;
}

.what-sets__btn {
  margin: 0 auto;
  display: block;
  &::after {
    content: "";
    background-image: url("/img/Arrow-icon.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    vertical-align: middle;
    padding-bottom: 33px;
  }
}

// ..............services block........................//

.services-title {
  margin: 80px 0px 80px 48px;
}

.services-info__block {
  padding: 80px 0px;
  display: flex;
  gap: 24px;
}

.services-info__list-content {
  margin: 0px 112px;
  max-width: 769px;
  width: 100%;
}

.services-info__list {
  margin: 40px 0px;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 20px;
}

.service__image {
  margin: 0px 56px;
}

.services-info__btn {
  display: block;
  &::after {
    content: "";
    background-image: url("/img/Arrow-icon.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    vertical-align: middle;
    padding-bottom: 33px;
  }
}

// ..............experience..................//

.experience__title {
  margin: 80px 0px 80px 48px;
}

.experience__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.experience__btn {
  margin: 80px auto;
  display: block;
  &::after {
    content: "";
    background-image: url("/img/Arrow-icon.svg");
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-left: 12px;
    vertical-align: middle;
    padding-bottom: 33px;
  }
}

//....................our-principles..................//

.our-principles {
  padding: 80px 0px 120px 0px;
}

.star__image {
  padding-left: 48px;
}

.our-principles__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 120px;
}

.our-principles__title {
  max-width: 400px;
  padding: 48px;
}

.our-principles__block {
  height: 440px;
  padding: 55px;
  margin-top: -1px;
  margin-right: -1px;
  margin-bottom: -1px;
  border-radius: 48px;
  border: 2px solid black;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  &:nth-child(even) {
    background: #ebf3ff;
  }
}

.our-principles__description {
  max-width: 462px;
  flex-grow: 1;
}

.our-principles__block__btn {
  background-color: #fff;
  max-width: 112px;
  border-radius: 64px;
  border: none;
  padding: 8px 26px;
  img {
    width: 48px;
    height: 48px;
  }
}

//....................sto-plus..................//

.sto-plus__title {
  text-align: center;
  padding: 80px 0px;
}

.sto-plus__img {
  display: block;
  margin: 0 auto;
}

.sto-plus__description {
  max-width: 1138px;
  margin: 0 auto;
  padding: 60px 0px 140px 0px;
}

//....................work-together..................//

.work-together {
  margin-bottom: 100px;
}

.work-together__title {
  text-align: center;
  padding: 80px 0px;
}

.form {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

#name,
#email {
  padding: 23px 32px;
  border-radius: 40px;
  border: 1px solid #616161;
  transition: 0.1s ease box-shadow;

  &:focus {
    border-color: black;
    box-shadow: 0 0 0 2px black;
    outline: none;
  }
}

#request {
  appearance: none;
  padding: 23px 28px;
  border-radius: 40px;
  border: 1px solid #616161;
  background-image: url("/img/select-arrow.svg");
  background-size: 12px 6px;
  background-position: right 28px center;
  background-repeat: no-repeat;

  @media (min-width: 1200px) {
    padding: 23px 32px;
    background-size: 20px 10px;
    background-position: right 34px center;
  }
}

#message {
  border-radius: 40px;
  border: 1px solid #616161;
  height: 200px;
  padding: 23px 32px;
}

//....................contact..................//

.contact {
  margin-bottom: 200px;
}

.contact__title {
  text-align: center;
  padding: 120px 0px 80px 0px;
}

.contact__btns {
  text-align: center;
  margin-bottom: 80px;
}

.whatsapp__btn {
  border-radius: 64px;
  background-color: #71cf5b;
  color: #fff;
  padding: 10px 32px;
  font-family: Mulish;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 32px;
  &:before {
    content: "";
    background-image: url("img/whatsapp-icon.svg");
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.telegram__btn {
  border-radius: 64px;
  background-color: #53aae3;
  color: #fff;
  padding: 10px 32px;
  font-family: Mulish;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  margin-right: 32px;
  &:before {
    content: "";
    background-image: url("img/telegram-icon.svg");
    display: inline-block;
    width: 36px;
    height: 36px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.email__btn {
  border-radius: 64px;
  background-color: #a0a8b5;
  color: #fff;
  padding: 10px 32px;
  font-family: Mulish;
  font-size: 22px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  &:before {
    content: "";
    background-image: url("img/email-icon.svg");
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-right: 15px;
  }
}

.contact__text {
  max-width: 810px;
  text-align: center;
  margin: 0 auto;
}
