.btn-main {
  padding: 26px 48px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 40px;
  background: black;
  color: white;
  white-space: nowrap;
}

.btn-transparent {
  padding: 18px 32px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px solid black;
  white-space: nowrap;
}